<h4>Anna arvostelu:</h4>
<form action="/addreview" method = "post">
    Kirjoita reseptistä vapaasti:<br>
    <textarea name="review" rows="4" cols="20" maxlength="100"></textarea><br>
    Arvosana: 
    <input type="radio" name="grade" value="1">1
    <input type="radio" name="grade" value="2">2
    <input type="radio" name="grade" value="3">3
    <input type="radio" name="grade" value="4">4
    <input type="radio" name="grade" value="5">5<br>

    <input type="submit" value="Jätä arvostelu">
    <input type="hidden" name="user_id" value="{{session['user_id']}}">
    <input type = "hidden" name="recipe_id" value="{{recipe_id}}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>