{% extends "layout.html" %}
{% block content %}
<div class="container">
{% include 'header.html' %}

<div class="content">
<h3>Lisää uusi resepti</h3>
<form action = "/addrecipe" method = "post">
Nimi:<br><input type = "text" name = "name" minlength="1" maxlength="50"><br>
Valmistusaika (min):<br><input type = "number" name = "time" cols="5"><br>
Kuvaus:<br><input type = "text" name = "description" maxlength="100"><br>
Raaka-aineet:<br>
<textarea name = "ingredients" rows = "5", cols = "40", maxlength="1000">
porkkana;2
juusto; 100g
suola;
</textarea><br>

Ohje reseptin valmistukseen:<br>
<textarea name = "instructions" rows = "5", cols = "40" maxlength="3000"></textarea><br>

<input type = "radio" name = "privacy" value="true" checked="checked"> Yksityinen
<input type="radio" name = "privacy" value="false"> Julkinen<br>

<input type="submit" value = "Lisää resepti">
<input type = "hidden" name = "user_id" value = "{{session.user_id}}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}
</div>
</div>