{% include 'header.html' %}

<h2>{{name}}</h2>
{{description}}<br>
Valmistusaika: {{time}} min<br>
<h4>Raaka-aineet:</h4>
<ul>
{% for ingredient in ingredients %}
<li>{{ingredient[0]}}  ({{ingredient[1]}})</li>
{% endfor %}
</ul>

<p>{{instruction}}</p>

{% if session.user_id == owner_id %}

<form action="/modify" method="post">
    <input type = "hidden" name = "recipe_id" value = "{{recipe_id}}">
    <input type = "hidden" name = "user_id" value = "{{session.user_id}}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value = "Muokkaa reseptiä">
</form>

{% endif %}

{% if session.user_admin or session.user_id == owner_id %}

<form action="/delete" method = "post">
    <input type = "hidden" name = "recipe_id" value = "{{recipe_id}}">
    <input type="hidden" name = "user_id" value = "{{session.user_id}}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name ="admin" value ={{session.user_admin}}>
    <input type="submit" value = "Poista resepti">
</form>

{% endif %}

{% if not priv %}

{% include 'reviews.html' %}

{% endif %}

